@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

html {
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    /* font-family: 'Rubik Mono One', sans-serif; */
    font-family: 'Source Code Pro', monospace;
}

h1{
    font-size: 4vw;
    font-family: 'Rubik Mono One', sans-serif;
}

h2{
    font-size: 2vw;
    font-family: 'Rubik Mono One', sans-serif;
}

p, ol{
    font-size: 1vw;
}

main img, .banner img{
    max-width: 40vh;
    min-width: 20vh;
    height: auto;
}

header img{
    max-width: 10vh;
    height: auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    margin-right: 20%;
    margin-left: 20%;
}

a{
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 5%;
    white-space: nowrap;
}

main{
    margin-left: 20%;
    margin-right: 20%;
}

.banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ce3400;
    background-image: url(./Time_management_bro.svg);
    background-repeat: no-repeat;
    background-position: 75%;
    width: 100%;
    height: 60vh;
    color: white;
}

.banner #text{
    width: 40%;
    margin-left: 20%;
}

.banner h1{
    margin-bottom: 2%;
}

.base-princ{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.base-princ #text-b{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    padding: 5%;
    background-color: rgb(227, 217, 217);
    border-radius: 20px;
    max-width: 50%;
}

.base-princ ol{
    margin-left: 10%;
}

.base-princ h2{
    margin-bottom: 2%;
}

.tools{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tools #text-t{
    max-width: 50%;
}

.tools h2{
    margin-bottom: 2%;
}

.how-to{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(227, 217, 217);
    /* margin-left: 18%;
    margin-right: 18%; */
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 2%;
}

.how-to #text-h{
    max-width: 70%;
    margin-left: 5%;
}

.how-to h2{
    margin-bottom: 2%;
}